
body.dark-theme {
    background-color: #121212;
    color: #ffffff;
}
body.dark-theme a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

body.dark-theme a:hover {
    color: #acdab5;
    text-shadow: 0px 0px 8px rgba(20, 68, 44, 0.73);
}
body.dark-theme h1,
body.dark-theme h2,
body.dark-theme h3,
body.dark-theme h4,
body.dark-theme h5,
body.dark-theme h6,
body.dark-theme p,
body.dark-theme span,
body.dark-theme label,
body.dark-theme a {
    color: #ffffff;
}
body.dark-theme .project-container h2{
    color: #009977;
}
body.dark-theme button {
    background-color: #007b5f;
    color: #ffffff;
    margin: 5px;
}

body.dark-theme button:hover {
    background-color: #009977;
}

body.dark-theme .task-item {
    background-color: #333;
    border-color: #444;
    color: #ffffff;
}

body.dark-theme button.delete-btn {
    background-color: #ff6666;
    color: #ffffff;
}

body.dark-theme .project-item {
    background-color: #222;
    border-color: #444;
    color: #ffffff;
}

body.dark-theme .project-item:hover {
    background-color: #2c2c2c;
}

body.dark-theme input,
body.dark-theme textarea {
    background-color: #222;
    color: #ffffff;
    border: 1px solid #444;
}

body.dark-theme input::placeholder,
body.dark-theme textarea::placeholder {
    color: #bbbbbb;
}
body.dark-theme .project-container {
    background: #222;
    border: 2px solid #444;
}

body.dark-theme .project-form input {
    background: #333;
    color: white;
    border: 1px solid #555;
}

body.dark-theme .project-list {
    background: #222;
}

body.dark-theme .project-item {
    background: #333;
    border: 1px solid #555;
    color: white;
}

body.dark-theme .project-item a {
    color: #009977;
}

body.dark-theme .project-item button {
    background-color: #d9534f;
}

body.dark-theme .project-item button:hover {
    background-color: #b52b27;
}
